@model List<GuestBook.Models.Guestbook>
@{
    ViewBag.Title = "首页";
}
<link href="~/Content/showCard.css" rel="stylesheet" />
<div class="nav-header">
    <h2>留言本</h2>
    <a class="btn btn-default" href="~/Account/Logout" role="button">登出</a>
</div>
<ul class="nav nav-tabs">
    <li role="presentation">
        <a id="addMsg" onclick="openCreateMsg(); return false;">添加留言</a>
    </li>
    <li role="presentation">
        @Html.ActionLink("全部留言", "AllWord")
    </li>
    @if (@ViewData["SRole"].ToString() == "管理员")
    {
        <li role="presentation">
            @Html.ActionLink("待处理", "AllWord", new { type = "待处理" })
            @if (@ViewData["msg-numbers"].ToString() != "0")
            {
                <span id="msg-numbers">@ViewData["msg-numbers"].ToString()</span>
            }
        </li>
    }
    <li role="presentation">
        @Html.ActionLink("我的留言", "AllWord", new { type = "我的" })
    </li>
</ul>
<div id="showCreateMsg" class="msg-wrapper">
    <span id="closeMsg" class="glyphicon glyphicon-remove"></span>
</div>
@foreach (var gb in Model)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                @gb.Title
                <span>@gb.User.Name</span>
            </h3>
            <p>@gb.CreatedOn</p>
        </div>
        <div class="panel-body">
            @gb.Content
            <div class="ctrlarea">
                @if (@ViewData["type"].ToString() == "待处理")
                {
                    @Html.ActionLink("审核通过", "checkMessage", new { id = gb.GuestbookId });
                    @Html.ActionLink("删除留言", "delete", new { id = gb.GuestbookId });
                }
                else if (@ViewData["type"].ToString() == "我的")
                {
                    @Html.ActionLink("删除留言", "delete", new { id = gb.GuestbookId });
                }
                else if (ViewData["type"].ToString() == "全部" && @ViewData["SRole"].ToString() == "管理员")
                {
                    @Html.ActionLink("删除留言", "delete", new { id = gb.GuestbookId });

                }
            </div>
        </div>
    </div>
}

@section scripts{
    <script>
        var type = "@ViewData["type"]";
        var isAdmin = "@ViewData["SRole"]" == "管理员";
        var wrapper = document.getElementById("showCreateMsg");
        var oIframe = document.createElement('iframe');
        var msgNumbers = null;

        var chosen = 1;//默认选中全部
        if (type == "我的") {
            chosen = isAdmin ? 3 : 2;
        } else if (type == "待处理" && isAdmin) {
            chosen = 2;
        };
        var cur = document.querySelectorAll("li[ role='presentation']")[chosen];
        cur.classList.add("active");

        var closebtn = document.getElementById("closeMsg");
        closebtn.onclick = function(){
            wrapper.removeChild(oIframe);
            document.getElementById("showCreateMsg").classList.remove("show");
        }

        function openCreateMsg() {
            oIframe.src = '/User/Create';
            wrapper.appendChild(oIframe);
            document.getElementById("showCreateMsg").classList.add("show");
        }
    </script>
}